@media screen and (max-width: 768px){
    .searchBox{
        margin-left: 0px;
    }
    #authors .carousel-item a {
        flex: 1 0 25%;
        max-width: 25%;
    }
}

@media screen and (max-width: 575px){
    .category{
       display: none; 
    }

    #authors .carousel-item a {
        flex: 1 0 50%; 
        max-width: 50%;
    }

    footer .row h6{
        font-size: 12px;
    }

    footer img{
        width: 100px;
    }
}