.toast-header{
    background-color: #f3ab0f;
    color: black;
}

.toast-body{
    background-color: rgba(0, 0, 0, 0.301);
    color: #fff;
}

.barTop{
    background-color: rgb(41, 41, 41);
    color: #fff;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 2px;
}

.barTop p{
    padding: 5px;
}

.searchBox{
    max-width: 400px;
    width: 100%;
    padding: 5px;
    margin-left: 170px;
}

.searchBox input{
    width: 100%;
    padding: 12px 8px;
    font-size: 12px;
    border: 1px solid #71717150;
    outline: none;
    border-radius: 5px;
}

.nav-link{
    text-align: right;
}

.category{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 80px;
    background-color: rgba(163, 163, 163, 0.664);
}

.category .row .col-sm{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
}

.category .row .col-sm:hover{
    color: #f3ab0f;
    border-bottom: 1px solid #f3ab0f;
}

.carouselImg{
    height: 80vh;
}

.carouselImg img{
    width: 100%;
    height: 100%;
}

.info{
    width: 100%;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a5a5a550;
}

.info .row{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.info .row .col-sm{
    letter-spacing: 2px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info .row .col-sm img{
    margin-right: 20px;
}

/*Autores*/

.authors{
    width: 100%;
}

.titleSections{
    width: 100%;
    text-align: center;
    margin: 30px 0px;
}

.titleSections h2{
    font-size: 28px;
    font-weight: 700;
}

.authors nav{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.authors nav p{
    padding: 2px 40px;
    margin-right: 10px;
    border-radius: 4px;
    font-weight: 500;
    background-color: #71717150;
}

.authors nav p:hover{
    border: 2px solid black;
}

#authors{
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


#authors .carousel-item a{
    flex: 1 0 12.5%;
    max-width: 12.5%;
    border-radius: 40px;
    margin: 0px 10px;
}

#authors .carousel-item a img{
    border-radius: 100px;
    margin-bottom: 4em;
    width: 100%;
    height: 100%;
}

/*RELEASES*/

.releases nav{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.releases nav p{
    padding: 2px 40px;
    margin-right: 10px;
    border-radius: 4px;
    font-weight: 500;
    background-color: #71717150;
}

.releases .row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.releases .row .collumCards{
    display: flex;
    justify-content: center;
    align-items: center;
}

.releases .card{
    width: 330px;
    margin: 5px 0px;
}

.releases .card img{
    height: 330px;
}

.releases .card-body{
    text-align: center;
}

.releases .card-body h5{
    text-transform: uppercase;
}

.releases .card-body .card-text{
    margin-bottom: 0px;
}

.img-fluid{
    cursor: pointer;
}

/*Form*/

.contentForm{
    background-color: #a5a5a550;
    padding-bottom: 120px;
}

.contentForm form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.contentForm form .inputBox{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 35%;
    margin: 5px;
}

.contentForm form label{
    font-weight: 700;
}

.contentForm form input{
    padding: 10px;
}

.contentForm form button{
    max-width: 160px;
    width: 100%;
    padding: 15px;
    margin-bottom: -23px;
    border-radius: 18px;
    border: none;
    color: #fff;
    background-color: #f3980f;
    text-transform: uppercase;
}